<!DOCTYPE html>
<html lang="en">
<head>

    <!--
         1 правило - никакого транслита в названии переменных и классов (если не знаешь как по английски берешь блять и гуглишь)0)
         2 правило - сохранять табуляцию
         3 правило - максимально все комментировать
     -->

    <meta charset="UTF-8">  <!-- все по стандарту -->
    <meta name="viewport" content="width-device-width, user-scalable-no, initial-scale-1.0, maximum-scale-1.0, minimum-scale-1.0"> <!-- для корректного отображения на разных устройствах -->

    <title>Mincult</title>
    <!-- подключаем шрифты  -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Slab" rel="stylesheet">

    <!-- подключаем библиотеку иконок (три полоски в шторке) -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- подключаем css бутстрапчик который будет лежать в папке css (обязательно должен быть над всеми другими стилями вроде как) -->
    <link rel="stylesheet" href="/public/bootstrap.min.css">

    <link rel="stylesheet" href="/public/cabinet.css">

    <link rel="stylesheet" href="/public/login.css">

    <link rel="stylesheet" href="/public/registration.css">

    <!-- подключаем глобальный css для хедера -->
      <link rel="stylesheet" href="/public/globalHeader.css">

    <!-- подключаем css для хедера index.html -->
    <link rel="stylesheet" href="/public/indexHeader.css">

    <!-- подключаем css для меню -->
    <link rel="stylesheet" href="/public/globalMenu.css">

    <!-- подключаем css для контента index.html -->
    <link rel="stylesheet" href="/public/indexContent.css">

    <!-- подключаем css для подвала на главной странице -->
    <link rel="stylesheet" href="/public/globalBasement.css">

    <!-- подключаем ссаное джеквери -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/IndexMenu.js"></script>

</head>

<body>
    
