logs*/
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
app
trash
e2e-tests
node_modules
.bowerrc
.jshintrc
.travis.yml
bower.json
karma.conf.js
LICENSE
test.html
app.js
README.md
External Libraries


