<!-- Главная страница -->
<!-- подключение шапки -->
<% include partials/header %>

<section id="department" class="department">
    <div id="department__border" class="container"> <!-- все по классике (если непонятно, смотри выше) -->
        <div class="row">
            <div class="col-lg-11"> <!-- надписи (без лого и кнопок) хэдэра занимают занимает 7 колонок -->
                <div class="department__content d-flex align-items-center">
                    <div class="logo d-flex justify-content-center"> <!-- класс логотипа -->
                        <!-- подключаем логотип URL ссылкой с сайта, с которого сдираем -->
                        <a href="http://localhost:3000/">
                            <img src="http://mducekt.mskobr.ru/images/cms/thumbs/1f1204c38f5d7f50f0ab6bcf597ef97666ee60e8/1423660333_jpg_250_135.jpg" alt="logo" class="logo">
                        </a>
                    </div>
                    <nav> <!-- навигация по сайту -->
                        <ul class="organizationName d-flex flex-column" > <!-- конструкция ul li делает список -->
                            <li class="organizationName__department"> <!-- класс департамента,  чувак в туторе сказал, что так надо писать, с двойным подчеркиванием (типо автоматическая документация, по-другому БЭМ - система, которую в яндексе придумали) -->
                                <a href="https://www.mos.ru/dogm/"> <!-- ссылка на сайт департамента -->
                                    ДЕПАРТАМЕНТ ОБРАЗОВАНИЯ ГОРОДА МОСКВЫ <!-- собсна сама надпись -->
                                </a>
                            </li>
                            <li class="organizationName__organization"> <!-- класс названия организации -->
                                <a>
                                    Государственное бюджетное образовательное учреждение
                                    дополнительного образования города Москвы "Московский
                                    детско-юношеский центр экологии, краеведения и туризма"
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section> <!-- закончился блок хэдэр -->

<section id="content" class="content">
    <div id="main__content" class="container">
        <div class="row">
            <div class="d-flex align-items-start">

                <div class="col-lg-4">
                    <ul class="accordion-menu">
                        <li>
                            <a class="link" href="http://localhost:3000">
                                <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                    Главная страница
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdownlink">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                Информация об организации
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <ul class="submenuItems">
                                <li><a href="#">Основная информация</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">За ворфэйс!1!!</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="dropdownlink"><i class="fa fa-quote-left" aria-hidden="true"></i>
                                Список олимпиад
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <ul class="submenuItems">
                                <li><a href="#">олимпиада 1</a></li>
                                <li><a href="#">олимпиада 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>
                                Документы
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <ul class="submenuItems">
                                <li><a href="#">Пользовательское соглашение</a></li>
                                <li><a href="#">Политика обработки данных</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="content__text">
                        <ul class="text d-flex flex-column" >

                            <% var newsBlock = {
                                    "idN" : 228,
                                    "title": "Макет кабины космического корабля «Буран» покажут школьникам на Космической субботе",
                                    "date": "14.08.2018",
                                    "content" : "Борис в числе немногих был на Немане в день свидания императоров; он видел плоты с вензелями, проезд Наполеона по тому берегу мимо французской гвардии, видел задумчивое лицо императора Александра в то время, как он молча сидел в корчме на берегу Немана, ожидая прибытия Наполеона; видел, как оба императора сели в лодки и как Наполеон, приставши прежде к плоту, быстрыми шагами пошел вперед и, встречая Александра, подал ему руку, и как оба скрылись в павильоне. Со времени своего вступления в высшие миры Борис сделал себе в привычку внимательно наблюдать то, что происходило вокруг него, и записывать. Во время свидания в Тильзите он расспрашивал об именах тех лиц, которые приехали с Наполеоном, о мундирах, которые были на них надеты, и внимательно прислушивался к словам, которые были сказаны важными лицами. В то самое время, как императоры вошли в павильон, он посмотрел на часы и не забыл посмотреть опять в то время, когда Александр вышел из павильона. Свидание продолжалось час и пятьдесят три минуты; он так и записал это в тот вечер в числе других фактов, которые, он полагал, имели историческое значение. Так как свита императора была очень небольшая, то для человека, дорожащего успехом по службе, находиться в Тильзите во время свидания императоров было делом очень важным, и Борис, попав в Тильзит, чувствовал, что с этого времени положение его совершенно утвердилось. Его не только знали, но к нему пригляделись и привыкли. Два раза он исполнял поручения к самому государю, так что государь знал его в лицо, и все приближенные уже не только не дичились его, как прежде, считая за новое лицо, но удивились бы, ежели бы его не было.Борис в числе немногих был на Немане в день свидания императоров; он видел плоты с вензелями, проезд Наполеона по тому берегу мимо французской гвардии, видел задумчивое лицо императора Александра в то время, как он молча сидел в корчме на берегу Немана, ожидая прибытия Наполеона; видел, как оба императора сели в лодки и как Наполеон, приставши прежде к плоту, быстрыми шагами пошел вперед и, встречая Александра, подал ему руку, и как оба скрылись в павильоне. Со времени своего вступления в высшие миры Борис сделал себе в привычку внимательно наблюдать то, что происходило вокруг него, и записывать. Во время свидания в Тильзите он расспрашивал об именах тех лиц, которые приехали с Наполеоном, о мундирах, которые были на них надеты, и внимательно прислушивался к словам, которые были сказаны важными лицами. В то самое время, как императоры вошли в павильон, он посмотрел на часы и не забыл посмотреть опять в то время, когда Александр вышел из павильона. Свидание продолжалось час и пятьдесят три минуты; он так и записал это в тот вечер в числе других фактов, которые, он полагал, имели историческое значение. Так как свита императора была очень небольшая, то для человека, дорожащего успехом по службе, находиться в Тильзите во время свидания императоров было делом очень важным, и Борис, попав в Тильзит, чувствовал, что с этого времени положение его совершенно утвердилось. Его не только знали, но к нему пригляделись и привыкли. Два раза он исполнял поручения к самому государю, так что государь знал его в лицо, и все приближенные уже не только не дичились его, как прежде, считая за новое лицо, но удивились бы, ежели бы его не было.Борис в числе немногих был на Немане в день свидания императоров; он видел плоты с вензелями, проезд Наполеона по тому берегу мимо французской гвардии, видел задумчивое лицо императора Александра в то время, как он молча сидел в корчме на берегу Немана, ожидая прибытия Наполеона; видел, как оба императора сели в лодки и как Наполеон, приставши прежде к плоту, быстрыми шагами пошел вперед и, встречая Александра, подал ему руку, и как оба скрылись в павильоне. Со времени своего вступления в высшие миры Борис сделал себе в привычку внимательно наблюдать то, что происходило вокруг него, и записывать. Во время свидания в Тильзите он расспрашивал об именах тех лиц, которые приехали с Наполеоном, о мундирах, которые были на них надеты, и внимательно прислушивался к словам, которые были сказаны важными лицами. В то самое время, как императоры вошли в павильон, он посмотрел на часы и не забыл посмотреть опять в то время, когда Александр вышел из павильона. Свидание продолжалось час и пятьдесят три минуты; он так и записал это в тот вечер в числе других фактов, которые, он полагал, имели историческое значение. Так как свита императора была очень небольшая, то для человека, дорожащего успехом по службе, находиться в Тильзите во время свидания императоров было делом очень важным, и Борис, попав в Тильзит, чувствовал, что с этого времени положение его совершенно утвердилось. Его не только знали, но к нему пригляделись и привыкли. Два раза он исполнял поручения к самому государю, так что государь знал его в лицо, и все приближенные уже не только не дичились его, как прежде, считая за новое лицо, но удивились бы, ежели бы его не было.Борис в числе немногих был на Немане в день свидания императоров; он видел плоты с вензелями, проезд Наполеона по тому берегу мимо французской гвардии, видел задумчивое лицо императора Александра в то время, как он молча сидел в корчме на берегу Немана, ожидая прибытия Наполеона; видел, как оба императора сели в лодки и как Наполеон, приставши прежде к плоту, быстрыми шагами пошел вперед и, встречая Александра, подал ему руку, и как оба скрылись в павильоне. Со времени своего вступления в высшие миры Борис сделал себе в привычку внимательно наблюдать то, что происходило вокруг него, и записывать. Во время свидания в Тильзите он расспрашивал об именах тех лиц, которые приехали с Наполеоном, о мундирах, которые были на них надеты, и внимательно прислушивался к словам, которые были сказаны важными лицами. В то самое время, как императоры вошли в павильон, он посмотрел на часы и не забыл посмотреть опять в то время, когда Александр вышел из павильона. Свидание продолжалось час и пятьдесят три минуты; он так и записал это в тот вечер в числе других фактов, которые, он полагал, имели историческое значение. Так как свита императора была очень небольшая, то для человека, дорожащего успехом по службе, находиться в Тильзите во время свидания императоров было делом очень важным, и Борис, попав в Тильзит, чувствовал, что с этого времени положение его совершенно утвердилось. Его не только знали, но к нему пригляделись и привыкли. Два раза он исполнял поручения к самому государю, так что государь знал его в лицо, и все приближенные уже не только не дичились его, как прежде, считая за новое лицо, но удивились бы, ежели бы его не было."
                            }; %>

                            <div class="newsHolder">

                                <li class="content__about__news__date">
                                    <%= newsBlock.date %>
                                </li>

                                <li  class="content__about__title__succeed"  >
                                    <div id="newsTitle">
                                        <%= newsBlock.title %>
                                    </div>
                                    <hr>
                                </li>

                                <li  value="newsBlock.news[i].idNews" class="content__about__news__text">
                                    <div id="newsContent">
                                        <%= newsBlock.content %>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<% include partials/footer %>
