<% include partials/header %>



<section id="content__personal" class="content">
    <div id="main__content" class="container">
        <div class="row">
            <div class="col-lg-4">
                <ul class="accordion-menu">
                    <li>
                        <a class="link" href="/">
                            <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                Главная страница
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="link" href="../trash/cabinet.html">
                            <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                Мой профиль
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <div class="dropdownlink"><i class="fa fa-quote-left" aria-hidden="true"></i>
                            Список олимпиад
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                            <li><a href="#">олимпиада 1</a></li>
                            <li><a href="#">олимпиада 2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="link" href="">
                            <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                Настройки
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-8">
                <div class="content__text__personal">
                    <div class="olympiad__padding">

                        <div class="olympiad__name">
                            Олимпиада 1
                        </div>

                        <form action="#" method="POST" enctype="multipart/form-data" class="form__olympiad" name="olympiad">

                            <select name="nomination" class="turnintodropdown" onchange="getSelectValue()" required>
                                <option selected disabled value=''>Выберите номинацию:</option>
                                <option value="s1">Экология</option>
                                <option value="s2">Краеведение</option>
                                <option value="s3">Туризм</option>
                            </select>


                            <div class="olympiad__firstFile__text">
                                Прикрепите word файл с данными:
                            </div>

                            <div class="olympiad__firstFile">
                                <input type="file" class="firstFile" id="firstFile" name="firstFile" required>
                            </div>


                            <!-- второй файл
                           <div class="olympiad__secondFile__text">
                               Прикрепите word файл с работой:
                           </div>

                           <div class="olympiad__firstFile">
                               <input type="file" class="secondFile" name="secondFile" required>
                           </div>
                           -->

                           <div class="button__submit"> <!-- класс для блока кнопки -->
                                <a href="#">
                                    <input value="отправить" type="submit" class="form__button" href="cabinet.html"> <!-- класс самой кнопки -->
                                    </input>
                                </a>
                            </div>

                        </form>


                        <!-- далее скрипт для получения выбранного значения в select (записывается в переменную selectedValue) -->
                        <script>
                            var form = document.forms[0];
                            var select = form.elements.nomination;
                            var selectedValue;

                            function getSelectValue() {
                                for (var i = 0; i < select.options.length; i++) {
                                    var option = select.options[i];
                                    if(option.selected) {
                                        selectedValue = option.value;
                                        console.log(selectedValue);
                                    }
                                }
                            }
                        </script>

                        <script>
                            var form = document.forms[0];
                            form.addEventListener('submit', function (ev) {
                                var firstFile = document.getElementById('firstFile').files[0];
                                var oData = new FormData(form);

                                // добавляем к пересылке переменную selectedValue, в которой содержится значение выбранной номинации
                                oData.append("nomination", selectedValue);

                                var oReq = new XMLHttpRequest();

                                // в "/" вставь путь
                                oReq.open("POST", "/", true);

                                oReq.onload = function (oEvent) {

                                    if (oReq.status == 200) {"vse vrode ok"} else {"po hodu pizda"}
                                };

                                oReq.send(oData);
                                ev.preventDefault();
                                
                            }, false);
                        </script>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="basement" class="basement"> <!-- подвал -->
    <div class="container"> <!--  -->
        <div class="row">
            <div class="col-lg-12"> <!--  -->
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>


