<!-- Главная страница -->
<!-- подключение шапки -->
<% include partials/header %>


<section id="department" class="department">
    <div id="department__border" class="container"> <!-- все по классике (если непонятно, смотри выше) -->
        <div class="row">
            <div class="col-lg-12"> <!-- надписи (без лого и кнопок) хэдэра занимают занимает 7 колонок -->
                <div class="department__content d-flex align-items-center">
                    <div class="logo"> <!-- класс логотипа -->
                        <!-- подключаем логотип URL ссылкой с сайта, с которого сдираем -->
                        <a href="http://localhost:3000/">
                        <img src="http://mducekt.mskobr.ru/images/cms/thumbs/1f1204c38f5d7f50f0ab6bcf597ef97666ee60e8/1423660333_jpg_250_135.jpg" alt="logo" class="logo">
                        </a>
                    </div>

                        <nav> <!-- навигация по сайту -->
                        <ul class="organizationName d-flex flex-column" > <!-- конструкция ul li делает список -->
                            <li class="organizationName__department"> <!-- класс департамента,  чувак в туторе сказал, что так надо писать, с двойным подчеркиванием (типо автоматическая документация, по-другому БЭМ - система, которую в яндексе придумали) -->
                                <a href="https://www.mos.ru/dogm/"> <!-- ссылка на сайт департамента -->
                                    ДЕПАРТАМЕНТ ОБРАЗОВАНИЯ ГОРОДА МОСКВЫ <!-- собсна сама надпись -->
                                </a>
                            </li>
                            <li class="organizationName__organization"> <!-- класс названия организации -->
                                <a>
                                    Государственное бюджетное образовательное учреждение
                                    дополнительного образования города Москвы "Московский
                                    детско-юношеский центр экологии, краеведения и туризма"
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section> <!-- закончился блок хэдэр -->

<section id="content" class="content">
    <div id="main__content" class="container">
        <div class="row">

                <div class="mainContentMenuPadding col-lg-4 col-md-12">
                    <ul class="accordion-menu">
                        <li>
                            <a class="link" href="">
                                <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                    Новости
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdownlink">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                Информация об организации
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <ul class="submenuItems">
                                <li><a href="#">Основная информация</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">Другое</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="link" href="">
                                <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                    Олимпиады
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>
                                Документы
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <ul class="submenuItems">
                                <li><a href="#">Пользовательское соглашение</a></li>
                                <li><a href="#">Политика обработки данных</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="content__text__personal">
                        <div class="olympiad__padding">

                            <div class="olympiad__name">
                                <%= olympiad %>
                            </div>

                            <div class="olympiad__name">
                                <%= title %>
                            </div>


                            <div class="olympiad__name__description">
                                <%= description %>
                            </div>

                            <div class="olympiad__name__text">
                                Для участия необходимо зарегистрироваться.
                            </div>


                            <!-- КОД НИЖЕ БЫЛ ВЫНЕСЕН В PARTIALS -->

                            <li class="newsMainButton d-flex justify-content-center">
                                <button class="schoolboyMainButton " type="submit">
                                    Зарегистрироваться
                                </button>
                            </li>

                            <!-- END -->

                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function(){

        $('.schoolboyMainButton').click(function(e) {

            location.href = "/напиши сюда путь назад";

        });
    });
</script>


<% include partials/footer %>
