
.basement {
    padding-top: 70px;  /* отступ  */
    background: #e6e6e6
}

.basement__padding {
    padding-left: 195px;
}

.basement__links {
    padding-right: 30px;
}

.basement__text {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 150px;
    font-family: 'Lora', serif;
    color: #5c5c5c;
}
