
/*
адаптисность
*/

@media screen and (max-width: 770px) {
    .organizationName__organization a{
        font-size: 18px;
    }
    .organizationName__department a {
        font-size: 14px;
    }
}

@media screen and (min-width: 770px) and (max-width:850px) {
    .organizationName__organization a{
        font-size: 19px;
    }
}

@media screen and (max-width:660px) {
    .logo {
        display: none;
    }
}

@media screen and (min-width: 480px) and (max-width:660px) {
    .organizationName__organization a{
        font-size: 20px;
    }
}

@media screen and (min-width: 550px) and (max-width:660px) {
    .organizationName__organization a{
        font-size: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width:550px) {
    .organizationName__organization a{
        font-size: 19px;
    }
}

/*
адаптисность закончилась
*/



#content {
    background: #f3f3f3;
    padding-bottom: 40px;
}

.newsMainTitle {
    width: 800px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 100px;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}

.newsMainTitleHr {
    padding-left: 30px;
    padding-right: 40px;
}

.content__text {
    box-shadow: 0 2px 8px rgba(0,0,0,0.3); /* тень рамки */
    max-width: 750px;
    background: #ffffff;
    border-radius: 5px;
}

.content__about__title {
    padding-left: 30px;
    padding-right: 40px;
    margin: auto;
    font-size: 17px;
    font-weight: 500;
    color: #0778aa;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out; /* делает медленный переход при наведении */
    transition: all 0.4s ease-out;
}

.content__about__title__succeed{
    padding-left: 30px;
    padding-right: 40px;
    margin: auto;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

.content__about__title:hover{
    color: #073659;

}


.content__about__news__title {
    padding-left: 30px;
    padding-right: 40px;
    margin: auto;
    font-size: 17px;
    font-weight: 500;
}

.content__about__text {
    padding-left: 55px;
    padding-right: 10px;
}

.content__about__news__text {
    padding-left: 55px;
    padding-right: 30px;
}

.content__about__news__date {
    padding-top: 10px;
    padding-left: 30px;
    font-size: 13px;
    font-weight: 500;

}

.newsHolder {
    padding-top: 20px;
    padding-bottom: 40px;
}

.newsMainButtonMore {
    margin-bottom: 30px;
    font-family: 'Lora', serif;
    border: 0; /* убирает ебучую рамку */
    font-weight: 400; /* толщина шрифта */
    border-radius: 5px; /* радиус закругления у углов кнопки */
    background: #cbcbcb; /* цвет внутри кнопки */
    color: #ffffff;
    font-size: 18px; /* размер шрифта  */
    width: 150px; /* размер кнопки в длину */
    padding: 7px 0; /* высота кнопки  */
    text-transform: uppercase; /* преобразовани шрифта (типо caps lock) */
    cursor: pointer; /* при наведении на кнопку меняется значок */
    -webkit-transition: all 0.4s ease-out; /* делает медленный переход при наведении */
    transition: all 0.4s ease-out;
}

.newsMainButtonMore:hover { /* изменение цвета кнопки вход при наведении */
    background-color: #6c6c6c;
}

.schoolboyMainButton {
    margin-bottom: 30px;
    font-family: 'Lora', serif;
    border: 0; /* убирает ебучую рамку */
    font-weight: 400; /* толщина шрифта */
    border-radius: 5px; /* радиус закругления у углов кнопки */
    background: #086aaa; /* цвет внутри кнопки */
    color: #ffffff;
    font-size: 18px; /* размер шрифта  */
    width: 250px; /* размер кнопки в длину */
    padding: 7px 0; /* высота кнопки  */
    text-transform: uppercase; /* преобразовани шрифта (типо caps lock) */
    cursor: pointer; /* при наведении на кнопку меняется значок */
    -webkit-transition: all 0.4s ease-out; /* делает медленный переход при наведении */
    transition: all 0.4s ease-out;
}

.schoolboyMainButton:hover { /* изменение цвета кнопки вход при наведении */
    background-color: #07466e;
}

.content__about__olympiad {
    font-family: 'Lora', serif;
    font-size: 16px; /* размер шрифта  */
    padding-left: 40px;
    padding-right: 30px;

}

/*на странице mainOlympiadSection*/
.newsMainNomination {
    width: 800px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 100px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.centr {
    text-align: center;
    padding-bottom: 20px;
}
